<footer class="desktop">
    <div class="row">

      <div class="cell policies">
        <ul>
          {% for link in linklists.footer.links %}
            <li>
              <a href="{{ link.url }}" title="{{ link.title }}">
                {{ link.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="cell newsletter">
        {% form 'customer' %}
          <div class="email">
            <label for="email" style="display: none;">Email</label>
            <input type="email" placeholder="JOIN OUR NEWSLETTER" name="contact[email]" />
          </div>
        
          <div class="submit">
            <input type="submit" value="SUBMIT" />
          </div>
        {% endform %}
      </div>

      <div class="cell contact">
        <div class="social">
          social icons
        </div>
        <div class="attribution">
          <span>&copy; {{ shop.name | upcase }} {{ "now" | date: "%Y" }}</span>
        </div>
      </div>

    </div>
  </footer>


  <footer class="mobile">
    <div class="upper">
      <ul>
        {% for link in linklists.footer.links %}
          <li>
            <a href="{{ link.url }}" title="{{ link.title }}">
              {{ link.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="lower">
      <div class="left">
          <div class="social">
            <ul>
              <li>
                <a href="{{ settings.social__twitter }}">
                  {% render 'icon--x' %}
                </a>
              </li>
              <li>
                <a href="{{ settings.social__instagram }}">
                  {% render 'icon--instagram' %}
                </a>
              </li>
              <li>
                <a href="{{ settings.social__tiktok }}">
                  {% render 'icon--tiktok' %}
                </a>
              </li>
            </ul>
          </div>
          <div class="attribution">
            &copy; {{ shop.name | upcase }} {{ "now" | date: "%Y" }}
          </div>
      </div>

      <div class="right">
        {% form 'customer' %}
          <div class="email">
            <label for="email" style="display: none;">Email</label>
            <input type="email" placeholder="JOIN OUR NEWSLETTER" name="contact[email]" />
          </div>
        
          <div class="submit">
            <input type="submit" value="SUBMIT" />
          </div>
        {% endform %}
      </div>

    </div>
  </footer>